@page "/"
@page "/index"

<h1>Listado de Alumnos!</h1>

<SurveyPrompt Title="Esta es la lista de alumnos." />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><b>JAP Software</b></h1>
            <h4>
                Hola a todos, me presento un poco.Soy un
                Ingeniero técnico dedicado a la programación y desarrollo de software desde hace más de 15 años. Apasionado de la tecnología y de todo lo relacionado con la creación de software.

                Además de lo comentado tengo un canal de youtube donde subo contenido regularmente relaccionado con el mundo de la programación. Tengo cursos de c#, Tensorflow,SQL, HTML , Python
                <br />
                <b>Aqui os dejo una breve presentación:</b>
            </h4>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zZ1QP2YPLQ4"></iframe>
        </div>
    </div>
</div>